<div
  class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5" id = "foter">
  <!-- Copyright -->
  <div class="text-white mb-3 mb-md-0">
    Copyright © 2025. Tous droits réservés.
  </div>
  <!-- Copyright -->

  <!-- Right -->
  <div>
    <a href="#!" class="text-white me-4">
      <img src="https://bing.com/th?id=OIF.74gEYi%2foNGEs0ex2QCKDRg&w=179&h=180&c=7&r=0&o=5&cb=thvnextc2&dpr=1.5&pid=1.7"
           alt="Logo Facebook" width="30" height="30">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="#!" class="text-white me-4">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="#!" class="text-white me-4">
      <i class="fab fa-google"></i>
    </a>
    <a href="#!" class="text-white">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </div>
  <!-- Right -->
</div>
