<p>dashboard-manager works!</p>
<main>

  <!--MDB Buttons-->
  <div class="container text-center mt-4">

    <div class="text-center darken-grey-text mb-4">
      <h1 class="font-bold mt-4 mb-3 h5">Bonjour, bienvenue dans votre espace Manager</h1>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <!-- Secondary button -->
        <button type="button" class="btn btn-secondary">Demandes</button>
      </div>
      <div class="card-body">
        <!-- Secondary button -->
        <button type="button" class="btn btn-secondary">Historique</button>
      </div>
      <div class="card-body">
        <!-- Secondary button -->
        <button type="button" class="btn btn-secondary">Soldes</button>
      </div>
    </div>
    </div>

</main>

