<div *ngIf="authService.getRole() === 'MANAGER'" class="container mt-5">
  <div class="card shadow p-4 rounded">
    <h2 class="mb-4 text-center text-primary"> Créer un employé</h2>

    <form (ngSubmit)="createEmployee()" class="row g-3">

      <div class="col-md-6">
        <label for="name" class="form-label">Nom</label>
        <input id="name" type="text" [(ngModel)]="name" name="name" class="form-control" placeholder="Nom" required>
      </div>

      <div class="col-md-6">
        <label for="prenom" class="form-label">Prénom</label>
        <input id="prenom" type="text" [(ngModel)]="prenom" name="prenom" class="form-control" placeholder="Prénom" required>
      </div>

      <div class="col-md-6">
        <label for="username" class="form-label">Nom d'utilisateur</label>
        <input id="username" type="text" [(ngModel)]="username" name="username" class="form-control" placeholder="Nom d'utilisateur" required>
      </div>

      <div class="col-md-6">
        <label for="password" class="form-label">Mot de passe</label>
        <input id="password" type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Mot de passe" required>
      </div>

      <div class="col-12 text-center mt-3">
        <button type="submit" class="btn btn-primary btn-lg">Créer employé</button>
      </div>

      <div class="col-12 mt-3">
        <p class="alert alert-success text-center" *ngIf="message && !isError">{{ message }}</p>

        <p class="alert alert-danger text-center" *ngIf="message && isError">{{ message }}</p>
      </div>



    </form>
  </div>
</div>

<div *ngIf="authService.getRole() !== 'MANAGER'" class="container mt-5">
  <div class="alert alert-warning text-center">
    <strong>{{ authService.getRole() }}</strong> - Vous n’êtes pas autorisé à créer des employés.
  </div>
</div>
