.custom-navbar {
  background-color:plum;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: background-color 0.3s ease;
  padding: 1rem 2rem;
#titre{
  font-weight: bold;
  font-size: 1.5rem;
}

}
.custom-navbar .nav-link {
  color: #f8f9fa;
  margin: 0 10px;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 4px;
  padding: 8px 12px;
}

.custom-navbar .nav-link:hover {
  background-color: purple;
  color: white;
  font-weight: bold;
}
